.box-class{
    width: 100%;
    height: 180px;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    border: none;
    box-shadow: 10px 10px 5px whitesmoke;
    display: block;
}
.img_class{
    width: 100px;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 40px;
}
.product_name{
    margin-top: 10px;  
    font-size: large;
}
.orignal_price{
    font-size: large;
}
.remove_button{
    float:right;
    /* margin-left: 400px; */
    background-color: yellow;
    border-radius: 15px;
    width: 100px;
    border: none;
    height: 50px;
    margin-top: 50px;
    margin-right: 10px;
    /* margin-top: -300px; */
}
.empty_cart{
    text-align: center;
    font-size: larger;
}
.cart_page{
    width: 50%;
}
.clear_data_button{
    /* float: right; */
    margin-right: 20px;
    background-color: darkred;
    border: none;
    width: 150px;
    height: 50px;
    color: white;
   left: 95%;
    position: sticky;
    bottom: 2rem;
}
.price_details_list{
    width: 30%;
    height: 500px;
    border: 1px solid blue;
  /* margin-left: 1000px; */
 margin-left: 5rem;
 border: none;
}
.divide{
    display: flex;
    margin-top: 1rem;
}
.price_details{
    margin-left: 20px;
    margin-top: 20px;
}
.two_button button{
    width: 200px;
    height: 50px;
    text-align: center;
}
.two_button{
    text-align: center;
}
.checkout{
    background-color: yellow;
    border: none;
}
.continue_shopping{
    background-color: darkslateblue;
    border: none;
}
.price{
    margin-left: 250px;
}
.discount{
    margin-left: 200px;
}
.total_amount{
    margin-left: 220px;
}
.green{
    color: green;
}
.you_save{
    margin-left: 320px;
    color: green;
}
.delivery_charge{
    margin-left: 210px;
}
.pay_amount{
    margin-left: 200px;
}
.quantity-container{
    float: right;
    margin-right: 100px;
    display:flex;
    margin-top: 20px;
}
.addbutton{
    width: 40px;
    height: 40px;
    background-color: yellow;

}
.quantity_containers{
    float:right;
    margin-right: 35px;
    margin-top: 10px;
}
.quantity_button{
    width: 35px;
    height: 35px;
    color:black;
    background-color: yellow;
    border: none;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }


